{
        "phaidra_instances": [

                {
                        
                                "instance_number": "xxxxxxxxxxxxxxxxxxxxxxx",

                                "url": "xxxxxxxxxxxxxxxxxxxxxxx",

                                "services_triples": "xxxxxxxxxxxxxxxxxxxxxxx/api/search/triples",

                                "mongoDb": {

                                        "host": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "dbName": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "user": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "pass": "xxxxxxxxxxxxxxxxxxxxxxx",
                                        
                                        "collection" : "xxxxxxxxxxxxxxxxxxxxxxx"

                                },
                                "phaidraUsersDB": {

                                        "host": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "dbName": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "user": "xxxxxxxxxxxxxxxxxxxxxxx",

                                        "pass": "xxxxxxxxxxxxxxxxxxxxxxx"
                                        
                                }

                }

        ],
        "piwikMysql": {

                "host": "xxxxxxxxxxxxxxxxxxxxxxx",

                "dbName": "xxxxxxxxxxxxxxxxxxxxxxx",

                "user": "xxxxxxxxxxxxxxxxxxxxxxx",

                "pass": "xxxxxxxxxxxxxxxxxxxxxxx"
        },
        "frontendStatsMysql": {

                "host": "xxxxxxxxxxxxxxxxxxxxxxx",

                "dbName": "xxxxxxxxxxxxxxxxxxxxxxx",

                "user": "xxxxxxxxxxxxxxxxxxxxxxx",

                "pass": "xxxxxxxxxxxxxxxxxxxxxxx"

        }
}