{
  "hdl_prefix": "prefix_like_11168",
  "instance_hdl_prefix": "prefix_like_10",
  "instance_url_prefix": "https://instanceurl/",
  "irma_mongodb": {
    "host": "host",
    "port": "27017",
    "username": "user",
    "password": "pass",
    "database": "db_with_irma.map_collection"
  },
  "paf_mongodb": {
    "host": "host",
    "port": "27017",
    "username": "user",
    "password": "pass",
    "database": "db_with_events_collection"
  }
}
