{

  "addtitle": 1,

  "api": {
    "url":"https://phaidra-api-url"
  },

  "statdb": {
    "data_source": "dbi:mysql:dbname:dbnamehost",
    "username": "dbuser",
    "password": "dbpass"
  },

  "inventorydb": {
    "host": "host",
    "database": "dbname",
    "username": "dbuser",
    "password": "dbpass"
  }
}
